<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Messias Lima</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Portifolio
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About me</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md text-center container">
				<img class="img-circle" src="./assets/img/avatar.jpg" />
				<br class="separator">
				<h1 class="name">Messias Lima</h1>
				<hr class="star-light">
				<h4>Mobile developer - Fullstack Developer</h4>
				<p class="margin">
					<button (click)="downloadCV()" class="cv-button btn btn-primary">
						<i class="fa fa-download"></i> Ver curriculo completo</button>
				</p>
			</div>
			<div class="col-md">

				<div class="presentation-text">
					<p class="margin text-center">
						<i class="fa fa-2x fa-calendar-alt"></i>
					</p>

					<p>Olá, eu sou
						<span class="name">Messias Lima</span> e venho desde 2010 me dedicando ao desenvolvimento de software.</p>
					<hr class="star-thin">
					<p class=" margin text-center">
						<i class="fa fa-2x fa-briefcase"></i>
					</p>
					<p>Analista e desenvolvedor de sistemas web e mobile com experiência em tecnologias nativas, web e hibridas.</p>
					<hr class="star-thin">
					<p class="margin text-center">
						<i class="fa fa-2x fa-graduation-cap"></i>
					</p>
					<p>Técnico em Informática e Bacharel em Sistemas e Mídias Digitais pela Universidade Federal do Ceará.</p>
				</div>

				<div class="text-center">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<ul class="list-group">
					<li class="list-group-item">
						<i class="fa fa-envelope"></i>messiaslima.03@gmail.com</li>
					<li class="list-group-item">Telefone</li>
					<li class="list-group-item">Linked In</li>
					<li class="list-group-item">Site</li>
					<li class="list-group-item">Github</li>
					<li class="list-group-item">Twitter</li>
				</ul>
			</div>
			<div class="col-md"></div>
		</div>
	</div>
</div>