<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md text-center container">
				<img class="img-circle" src="./assets/img/avatar.jpg" />
				<br class="separator">
				<h1 class="name">Messias Lima</h1>
				<hr class="star-light">
				<h4>Mobile developer - Fullstack Developer</h4>
				<p class="margin">
					<button (click)="downloadCV()" class="cv-button btn btn-primary">
						<i class="fa fa-download"></i> Ver curriculo completo</button>
				</p>
			</div>

		</div>
	</div>
</div>
<div class="jumbotron bg-primary">
	<div class="container title">
		<div class="">
			<div class="row presentation-text">
				<div class="col-md">
					<p class="margin text-center">
						<i class="fa fa-2x fa-calendar-alt"></i>
					</p>
					<p>Olá, eu sou
						<span class="name">Messias Lima</span> e venho desde 2010 me dedicando ao desenvolvimento de software.</p>
				</div>
				<div class="col-md">
					<p class=" margin text-center">
						<i class="fa fa-2x fa-briefcase"></i>
					</p>
					<p>Analista e desenvolvedor de sistemas web e mobile com experiência em tecnologias nativas, web e hibridas.</p>
				</div>
				<div class="col-md">
					<p class="margin text-center">
						<i class="fa fa-2x fa-graduation-cap"></i>
					</p>
					<p>Técnico em Informática e Bacharel em Sistemas e Mídias Digitais pela Universidade Federal do Ceará.</p>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h3>Me econtre nas redes sociais</h3>
				<ul class="list-group">
					<li (click)="openEmail()" class="list-group-item">
						<i class="fa fa-envelope icon-margin"></i>messiaslima.03@gmail.com
					</li>
					<li class="list-group-item">
						<i class="fa fa-phone icon-margin"></i>+55 85 9 98516-852
					</li>
					<li (click)="openLink('http://linkedin.com/in/messias-lima')" class="list-group-item">
						<i class="fab fa-linkedin icon-margin"></i>linkedin.com/in/messias-lima
					</li>
					<li (click)="openLink('http://messiaslima.github.io')" class="list-group-item">
						<i class="fa fa-globe icon-margin"></i>messiaslima.github.io
					</li>
					<li (click)="openLink('http://github.com/MessiasLima')" class="list-group-item">
						<i class="fab fa-github icon-margin"></i>github.com/MessiasLima
					</li>
					<li (click)="openLink('http://twitter.com/MessiasJunior_')" class="list-group-item">
						<i class="fab fa-twitter icon-margin"></i> twitter.com/MessiasJunior_
					</li>
				</ul>
			</div>
			<div class="col-md title text-center">
				<img class="align-middle" src="./assets/img/mobile.png" alt="">
			</div>
		</div>
	</div>
</div>