<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Messias Lima</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Portifolio
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About me</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md text-center container">
				<img class="img-circle" src="./assets/img/avatar.jpg" />
				<br class="separator">
				<h1 class="name">Messias Lima</h1>
				<hr class="star-light">
				<h4>Mobile developer - Fullstack Developer</h4>
				<p class="margin">
					<button (click)="downloadCV()" class="cv-button btn btn-primary">
						<i class="fa fa-download"></i> Ver curriculo completo</button>
				</p>
			</div>
			<div class="col-md">

				<div class="presentation-text">
					<p class="margin text-center">
						<i class="fa fa-2x fa-calendar-alt"></i>
					</p>

					<p>Olá, eu sou
						<span class="name">Messias Lima</span> e venho desde 2010 me dedicando ao desenvolvimento de software.</p>
					<hr class="star-thin">
					<p class=" margin text-center">
						<i class="fa fa-2x fa-briefcase"></i>
					</p>
					<p>Analista e desenvolvedor de sistemas web e mobile com experiência em tecnologias nativas, web e hibridas.</p>
					<hr class="star-thin">
					<p class="margin text-center">
						<i class="fa fa-2x fa-graduation-cap"></i>
					</p>
					<p>Técnico em Informática e Bacharel em Sistemas e Mídias Digitais pela Universidade Federal do Ceará.</p>
				</div>

				<div class="text-center">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h3 class="title" style="margin-top: 50px" >Me econtre nas redes sociais</h3>
				<ul class="list-group">
					<li (click)="openEmail()" class="list-group-item">
						<i class="fa fa-envelope icon-margin"></i>messiaslima.03@gmail.com
					</li>
					<li class="list-group-item">
						<i class="fa fa-phone icon-margin"></i>+55 85 9 98516-852
					</li>
					<li (click)="openLink('http://linkedin.com/in/messias-lima')" class="list-group-item">
						<i class="fab fa-linkedin icon-margin"></i>linkedin.com/in/messias-lima
					</li>
					<li (click)="openLink('http://messiaslima.github.io')" class="list-group-item">
						<i class="fa fa-globe icon-margin"></i>messiaslima.github.io
					</li>
					<li (click)="openLink('http://github.com/MessiasLima')" class="list-group-item">
						<i class="fab fa-github icon-margin"></i>github.com/MessiasLima
					</li>
					<li (click)="openLink('http://twitter.com/MessiasJunior_')" class="list-group-item">
						<i class="fab fa-twitter icon-margin"></i> twitter.com/MessiasJunior_
					</li>
				</ul>
			</div>
			<div class="col-md title">
				<h3 style="margin-top: 50px">... ou me envie um e-mail</h3>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Nome</span>
					</div>
					<input required [(ngModel)]="contato.nome" type="text" class="form-control" id="input-nome" placeholder="Digite seu nome">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">E-mail</span>
					</div>
					<input [(ngModel)]="contato.email" required type="email" class="form-control" id="input-email" placeholder="Digite seu email">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Mensagem</span>
					</div>
					<textarea [(ngModel)]="contato.mensagem" type="email" class="form-control" id="input-email" placeholder="Digite aqui sua mensagem"></textarea>
				</div>
				<button (click)="enviarEmail(contato)" type="button" class="btn btn-lg">Enviar
					<i class="fa fa-paper-plane"></i>
				</button>
			</div>
		</div>
	</div>
</div>